.buttonLike {
  margin: 5px;
  float: left;
}

.buttonLove {
  margin: 5px;
  float: left;
}

.buttonLol{
	margin: 5px;
	float: left;
}

.buttonScary{
	margin: 5px;
	float: left;
}

.buttonSad{
	margin: 5px;
	float: left;
}

.buttonOnFire{
	margin: 5px;
	float: left;
}

.authorName {
  font-size: 3em;
}

.card {
	box-shadow: 10px 10px 20px grey;
}
