.gifbackground {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 30px;
  margin-right: 20px;
  border-style: solid;
  outline: 2px solid;
  -webkit-box-shadow: 0 1px 20px 10px black;
}

.gifbackground::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.gifbackground * {
  position: relative;
  z-index: 2;
}

.gifbackground h1, .gifbackground h2 {
  color: white;
  text-shadow: 10px 10px 20px black;
  font-family: 'Paytone One', sans-serif;

}

.gifbackground h1 {
  font-size: 100px;
  padding-top: 200px;

}
