.gifbackground {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.gifbackground::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.gifbackground * {
  position: relative;
  z-index: 2;
}

.gifbackground h1, .gifbackground h2 {
  color: white;
}

.gifbackground h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}
