.footer {
  min-height: 100px;
  background: #E5E5E5;
  position: relative;
  text-align: center;
   -webkit-box-shadow: 0 -8px 20px -2px black;
  border-top-style: solid;
  
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #B8B8B8;
  box-shadow: 10px 10px 20px grey;
}
